<nav class="nav">
    <ul>
        <li>
            <a href="{{ path("app_main") }}">
                <img src="{{ asset("assets/logo-blanc.png") }}" alt="Logo Bucket list">
            </a>
        </li>
        <li class="crumb"><a href="{{ path("app_wish_list") }}">Liste des voeux</a></li>
        <li class="crumb"><a href="{{ path("app_about_us") }}">A propos</a></li>
    </ul>
</nav>
