{% extends 'base.html.twig' %}

{% block body %}

    <div id="aboutUs">
        <h1>A propos de nous :</h1>
        <p>Commençons tout de suite par l’essentiel : une bucket list est la liste de tout ce que vous aimeriez faire au cours de votre vie, avant de mourir. Pas très gai comme approche ? Il faut dire que le concept a été popularisé par le magnifique film Sans plus attendre, où Jack Nicholson et Morgan Freeman, tous deux atteints d’un cancer incurable, se retrouvent dans la même chambre d’hôpital et décident d’en sortir pour profiter ensemble des derniers mois qu’il leur reste.</p>
        <p>Depuis, la bucket list est devenu le fil rouge de nombreux voyageurs. Elle agit comme la promesse d’un échappatoire à la vie quotidienne et le symbole d’une existence aux priorités renouvelées.</p>
        <p>Oui, au fond, pourquoi ? Nous savons très bien ce que nous voulons faire et ne pas faire, non ? Donc pourquoi perdre son temps avec une énième liste ?</p>
        <p>→ Parce que les paroles s’envolent et les écrits restent, comme dit le proverbe. Ah, toutes ces choses auxquelles on pense, qu’on se promet d’écrire pour s’en souvenir et qu’on oublie… La bucket list est faite pour cela : ne pas laisser un rêve s’envoler.</p>
        <p>→ Parce qu’écrire, c’est donner de l’importance. Penser à un rêve, en parler, c’est déjà très bien. Mais la coucher par écrit, c’est lui donner de la consistance et beaucoup d’importance aussi.</p>
        <p>→ Parce qu’une bucket list vous amène à faire un peu de tri dans votre vie et d’y déceler ce qu’il y a d’essentiel. De quoi avez-vous vraiment envie ? Vous pensiez qu’avoir des enfants vous empêcherait de vivre ? Et si cela n’était pas aussi vrai ? Écrivez, rayez, réfléchissez…</p>
        <p>→ Parce qu’elle encourage à trouver des solutions plutôt que des excuses. Sans pousser ses rêves un peu plus loin que la simple idée, tout sera toujours trop tôt, trop tard, trop cher, trop loin, trop dangereux, trop culpabilisant… Et rien n’est plus faux. De ce point de vue, la bucket list sera aussi un repère précieux et rassurant face aux grincheux et jaloux de tout poil qui ne manqueront pas de vous dissuader de tout.</p>
        <p>→ Parce que c’est une invitation à se prendre en main, à devenir pleinement acteur de sa vie. Une bucket list peut être un gouvernail : oui, vous avez des choses qui vous tiennent à cœur, des rêves que vous avez envie de réaliser. Ils sont là, sous vos yeux. Relisez-les quand vous avez un coup de blues. Cela donne de l’énergie et un horizon dans les jours de grisaille.</p>
    </div>

{% endblock %}
