{% extends 'base.html.twig' %}

{% block body %}

    {% include 'partials/flashMessage.html.twig' %}

    <div class="serie-details">
        <h1>Ajouter une catégorie:</h1>

        {{ form(categoryForm) }}
    </div>
{% endblock %}
